---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Explore Astro and USWDS"
  description="Playground: Explore using USWDS in Astro"
>
  <div class="grid-container margin-top-4 margin-bottom-8">
    <h1>Playground: Explore USWDS in Astro</h1>
    <a href="/" class="usa-button usa-button--outline">← Back to Home</a>
  </div>
</Layout>
